.diseaseItem {
  background-color: #e5f1ee;
  border-radius: 26px;
  color: #0d2b25;
  cursor: grab;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem;
  position: relative;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.diseaseItem .removeSelectedDisease {
  background-color: #afbfce;
  color: #3d4852;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin: 0;
  padding: 0.2rem;
  position: absolute;
  right: 0;
  top: 0;
  height: 22px;
  width: 22px;
  z-index: 1;
}

.diseaseItem .removeSelectedDisease:focus,
.diseaseItem .removeSelectedDisease:hover {
  background-color: #ff4000;
  color: #ffffff;
}

.diseaseItem.itemSelected {
  background-color: #e4e4e4;
  color: #a1a1a1;
  cursor: not-allowed;
}

.diseaseItem.diseaseItemSeleted {
  background-color: #f8fafc;
  border: 1px solid #afbfce;
  border-radius: 0;
  color: #3d4852;
  padding: 0.5rem 2rem 0.5rem 1rem;
  text-align: left;
  overflow: hidden;
}
